/AI/venv
/venv
frontend/package-lock.json
frontend/package.json
frontend/package-lock.json
frontend/package.json
backend/__pycache__/users.cpython-313.pyc
backend/__pycache__/signup.cpython-313.pyc
backend/__pycache__/scenarios.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc
backend/__pycache__/login.cpython-313.pyc
backend/__pycache__/db.cpython-313.pyc
backend/__pycache__/analytics.cpython-313.pyc
backend/__pycache__/admins.cpython-313.pyc
backend/__pycache__/analytics.cpython-313.pyc
backend/__pycache__/db.cpython-313.pyc
backend/__pycache__/login.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc
backend/__pycache__/scenarios.cpython-313.pyc
backend/__pycache__/signup.cpython-313.pyc
backend/__pycache__/users.cpython-313.pyc
