.editor-sidebar {
  width: 200px;
  background: #f3f4f6;
  padding: 10px;
  border-right: 1px solid #d1d5db;
  height: 100vh;
}

.editor-sidebar h3 {
  margin-bottom: 10px;
}

.sidebar-node {
  background: white;
  border: 3px solid #9ca3af;
  padding: 8px;
  margin-bottom: 8px;
  text-align: center;
  cursor: grab;
  border-radius: 5px;
  user-select: none;
}

.sidebar-node-scenario {
  border-color: #10b981;
  background-color: #d1fae5;
}

.sidebar-node-option {
  border-color: #6366f1;
  background-color: #e0e7ff;
}

.sidebar-node-ending {
  border-color: #ef4444;
  background-color: #fee2e2;
}
