.playthrough-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.node-visual-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node-visual{
  width: 1800px;
  height:80vh; 
  position: relative;
}

.promptBox{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2%);
  width: 1000px;
  height: 200px;
  background-color: #b6b6db;
  border-radius: 12px;
  padding: 15px;
}

.current-node-label-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 20px;
  
}
.current-node-label{
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  
}

.optionsWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #b6b6db;
  padding: 20px;

}

.end-scenario-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #b6b6db;
   width: 1000px;
  height: 200px;
  
}
.end-scenario-heading{
  font-weight: bolder;
  font-size: 24px;

}

.end-scenario-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height:60px;
  text-wrap: nowrap ;
}