/* General styling for the page */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styling for the movable navigation window */
.test-nav-bar {
  position: fixed;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  cursor: grab;
  user-select: none;
  width: 250px;
  display: flex;
  flex-direction: column;
  top: 500px;
}


.nav-handle {
  font-size: 12px;
  color: #555;
  text-align: center;
  margin-bottom: 8px;
}

.test-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.test-nav-bar li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.test-nav-bar li a:hover {
  background-color: #e9e9e9;
}

